<h2>Show Cat</h2>

<table>
  <tr>
    <td>Name</td>
    <td>Color</td>
    <td>Sex</td>
    <td>Age</td>
    <td>Description</td>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

Rental Requests
<table>
  <tr>
    <td>Start Date</td>
    <td>End Date</td>
  </tr>
  <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
  <tr>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
    <% if request.pending? %>
      <form method="PATCH" action="<%= new_cat_rental_request_url %>">
        <input type="hidden" name="_method" value="PATCH">
        <input type="submit">
      </form>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to "All Cats", cats_url %>
