<!DOCTYPE html>
<html>
<head>
  <title>CatRentals</title>
</head>
<body>
<% if current_user.nil? %>
 <a href="<%= new_session_url %>">Log in</a>
 <a href="<%= new_user_url %>">Sign up</a>
<% else %>
<%= current_user.user_name %>
  <a href="<%= log_out_session_url %>">Log out</a>
<% end %>


<%= yield %>

</body>
</html>
